@charset "UTF-8";
:root {
  /* ============ ПЕРЕМЕННЫЕ ЦВЕТА ============ */
  --color-font-main: #212121;
  --color-font-head: #757575;
  --color-font-placeholder-modal: rgba(117, 117, 117, 0.5);
  --color-font-footer: rgba(255, 255, 255, 0.6);
  /* =============================== */
  --color-background-another: #E5E5E5;
  --color-background-team: #F5F4FA;
  --color-background-footer: #2F303A;
  --color-background-footer-icon: rgba(255, 255, 255, 0.1);
  --color-background-backdrop: rgba(0, 0, 0, 0.2);
  --color-background-activity: rgba(47, 48, 58, 0.8);
  --color-background-overlay: rgba(33, 150, 243, 0.9);
  /* =============================== */
  --color-light: #FFFFFF;
  --color-dark: #000000;
  /* =============================== */
  --color-border-line: #ECECEC;
  --color-borders-portfolio: #EEEEEE;
  --color-border-clients: #AFB1B8;
  --color-border-modal: rgba(33, 33, 33, 0.2);
  /* =============================== */
  --color-logo-links-hover: #2196F3;
  --color-button-hover: #188CE8;
  /* ========================================== */
}

/* ========== Сброс отступов у ВСЕХ заголовков и ВСЕГО текста ========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* =================== Сброс нижнего отступа у img =================== */
img {
  display: block;
}

/* --- Задаем ВСЕМ кнопкам тип курсора pointer ------ */
.buttons {
  cursor: pointer;
}

/* ------ Убираем подчеркивание со ВСЕХ ссылок ------ */
/* a {text-decoration: none;} */
.links {
  text-decoration: none;
}

/* ---- Убираем точки и ВЕРХ и НИЗ отступы со ВСЕХ списков ---- */
/* ul {list-style-type: none;} */
.lists {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  color: var(--color-font-main);
  background-color: var(--color-light);
  /* =============================== */
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  /* line-height: 1.71; */
  letter-spacing: 0.03em;
}

/* ============ Секция - отступы 94px сверху и снизу ============ */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ================ Скрытие заголовков (visually-hidden) ================ */
.visually-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

/* a {text-decoration: none;} */
/* ul {list-style-type: none;} */
.clients-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

/* =====================  ОСНОВНОЙ Контейнер (container) ===================== */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* УБРАТЬ */
  /* outline: 2px solid tomato;  */
  /* background-color: tomato; */
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* =================== flex - контейнеры (________)==================== */
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-spacebetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* === Стилизация Заголовка h2 в Блок-секция_3 Чем мы занимаемся (activities)
 и в Блок-секция_4 Наша команда (team) === */
.section-titles {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
}

/* ============== Стилизация Секции_5 Наши клиенты (clients) ============== */
/* ==== flex-контейнер в Секции Секции_5 Наши клиенты (clients) ===== */
.clients-list {
  /* УБРАТЬ */
  /* outline: 2px solid tomato;  */
  /* background-color: rgb(7, 248, 168); */
}

.clients-item {
  width: 50%;
  height: 92px;
  /* УБРАТЬ */
  /* outline: 2px solid tomato; */
  /* background-color: tomato; */
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    flex-wrap: nowrap;
    width: 16.6666666667%;
  }
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 16px 32px;
  border: 1px solid var(--color-border-clients);
  border-radius: 4px;
  fill: var(--color-border-clients);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--color-logo-links-hover);
  fill: var(--color-logo-links-hover);
}/*# sourceMappingURL=main.css.map */