/* =====================  ОСНОВНОЙ Контейнер (container) ===================== */
.container {
    width: 1200px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;

        @media screen and (min-width: $mobile) {
            width: 480px;
        }
    
        @media screen and (min-width: $tablet) {
            width: 768px;
        }
    
        @media screen and (min-width: $desktop) {
            width: 1200px;
        }

    /* УБРАТЬ */
    /* outline: 2px solid tomato;  */
    /* background-color: tomato; */
}


/* =================== flex - контейнеры (________)==================== */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-spacebetween-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
